<html xmlns:th="http://www.thymleaf.org">
	<head th:replace="base :: common_header(~{::title}, ~{})">
		<meta charset="utf-8">
		<title>Ajouter un etudiant</title>
		
	</head>
	<body th:replace="base :: common_body(~{::content}, ~{})">
	
		<div th:fragment="content">
			<h1 class="mb-3">Ajouter un etudiant</h1>
			
			<form th:object="${etudiantForm}" action="#" th:action="@{/etudiants/ajouter}" method="post" class="needs-validation">
				<div class="mb-3 row">
					<div class="col-md-6">
				  		<label for="nom" class="form-label">Nom</label>
				  		<input type="text" name="nom" class="form-control" id="nom" th:field="*{nom}" th:errorclass="is-invalid">
				  		<div class="invalid-feedback" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
					</div>
					<div class="col-md-6">
				  		<label for="prenom" class="form-label">Prénom</label>
				  		<input type="text" name="prenom" class="form-control" id="prenom" th:field="*{prenom}" th:errorclass="is-invalid">
				  		<div class="invalid-feedback" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></div>
					</div>
				</div>
				
				<div class="mb-3 row">
					<div class="col-md-6">
				  		<label for="dateNaissance" class="form-label">Date de naissance</label>
				  		<input type="date" name="dateNaissance" class="form-control" id="dateNaissance" th:field="*{dateNaissance}" th:errorclass="is-invalid">
				  		<div class="invalid-feedback" th:if="${#fields.hasErrors('dateNaissance')}" th:errors="*{dateNaissance}"></div>
					</div>
					<div class="col-md-6">
				  		<label for="lieuNaissance" class="form-label">Lieu de naissance</label>
				  		<input type="text" name="lieuNaissance" class="form-control" id="lieuNaissance" th:field="*{lieuNaissance}" th:errorclass="is-invalid">
				  		<div class="invalid-feedback" th:if="${#fields.hasErrors('lieuNaissance')}" th:errors="*{lieuNaissance}"></div>
					</div>
				</div>
				
				<div class="mb-3">
			  		<label for="sexe" class="form-label">Sexe</label>
			  		<select name="sexe" id="sexe" class="form-select" th:field="*{sexe}" th:errorclass="is-invalid">
						<option value="0">Homme</option>
						<option value="1">Femme</option>
					</select>
					<div class="invalid-feedback" th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}"></div>
				</div>
				
				<button type="submit" class="btn btn-primary">Ajouter</button>
			</form>
		</div>
		
	</body>
</html>